{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

<!-- Custom CSS -->
{% block more_css %}<link href="{% static 'css/home.css' %}" rel="stylesheet"> {% endblock %}

{% block content %}
{# the aldryn-bootstrap3 carousel file must be edited to include <img class="img-responsive center-block" for carousel images to center #}
    {% placeholder content or %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Double click to start editing, or find a starter template at <a href="http://startbootstrap.com/template-categories/unstyled">http://startbootstrap.com/template-categories/unstyled</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div> <!-- end container -->
    {% endplaceholder %}

{% endblock content %}
